<!-- Динамические классы -->
<!-- <div [class.status]="currentStatus === 'online'"> -->
<!-- используем ковычки для классов ('status-online': ) которые имеют два слова, так как пробелы и тире не допустимы в JS-->
<div
  [class]="{
    status: true,
    'status-online': currentStatus() === 'online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown'
  }"
  [style]="{
    fontSize: '14px'
  }"
>
  <article id="status">
    <div>
      @if (currentStatus() === 'online') {
      <p>Servers are online</p>
      <p>All systems are operational.</p>
      } @else if (currentStatus() === 'offline') {
      <p>Servers are offline</p>
      <p>Functionality should be restored soon.</p>
      } @else {
      <p>Server status is unknown</p>
      <p>Fetching server status failed.</p>
      }
    </div>
  </article>
</div>
